.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #1F2937;
}
.logo {
    font-size: 24px;
    color: white;
}
.header-link {
    display: flex;
}

ul {
    list-style-type: none;
}
.header-link li {
    padding: 10px;
}
a {
    font-size: 18px;
    color: #E5E7EB;
}